dep/.terraform/providers/registry.terraform.io/hashicorp/aws/4.22.0/windows_amd64/terraform-provider-aws_v4.22.0_x5.exe
dynamic/.terraform/providers/registry.terraform.io/hashicorp/aws/4.22.0/windows_amd64/terraform-provider-aws_v4.22.0_x5.exe
first-resource/.terraform/providers/registry.terraform.io/hashicorp/aws/4.22.0/windows_amd64/terraform-provider-aws_v4.22.0_x5.exe
modules/.terraform/providers/registry.terraform.io/hashicorp/aws/4.22.0/windows_amd64/terraform-provider-aws_v4.22.0_x5.exe
variables/.terraform/providers/registry.terraform.io/hashicorp/aws/4.22.0/windows_amd64/terraform-provider-aws_v4.22.0_x5.exe
